/* CSS FOR PLACEMENT AND FONT SIZING */

/*-- Font sizing --*/
.larger { font-size: 400%; line-height: normal;}
.bitlargest { font-size: 300%; line-height: normal; }
.bitlarger { font-size: 200%; line-height: normal; }
.large { font-size: 130%; line-height: normal; }
.midi { font-size: 85% }
.small { font-size: 70% }
.xsmall { font-size: 60% }
.tiny { font-size: 50% }

.italic{
	font-style: italic;
}

.bold {
  font-weight: bolder;
}

.strike{
  text-decoration: line-through;
}

/*-- Spacing --*/
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right + * {
  clear: both;
}

.pull-bottom {
position: absolute;
top: 620px;
right: 50px;
color: #8c8c8c
}

.pull-low {
position: relative;
top: 100px;
line-height: normal;
}

.center {
  margin: auto;
  text-align: center;

}

.left-align {

	margin: auto;
	text-align: left;
}

.right-align{
	margin: auto;
	text-align: right;
}


.pull-left-narrow {
  float: left;
  width: 20%;
}

.pull-right-wide {
  float: right;
  width: 75%;
}

.pull-right-wide + * { clear: both; }

.pull-right-low {
  position: relative;
  top: 100px;
  left: 70px;
}

.pull-right-low + * { clear: both; }



/* TITLE SLIDE STYLE */

.title-slide h2 {
  position: absolute;
  top: 90px;
  right: 18px;
  width: 50%;

}

.title-slide h3 {
  position: relative;
  width: 48%;
  top:  0px;
  left: 440px;

}

.title-slide h4 {
  position: relative;
  width: 48%;
  top:  0px;
  left: 440px;
  color: #4b6640;
  font-style: italic;
  font-size: 70%;

}

.contact {
  position: relative;
  top: 20px;
  left: 580px;
}

.title-slide > .fa-github, .fa-twitter {
  color: #4b6640;
}

.webpage {
  position: relative;
  left: -3px;
}

.webpage > .fa-address-card, .fa-github {
  color: #4b6640;
}

.citation {
  position: absolute;
  bottom: 0.6%;
  left: 1%;
  font-size: 75%;
  color: gray;

}


/*-- BACKGROUNDS AND SPECIFIC SLIDE STYLING --*/

/* title slide */

.bg_grapes {
  position: relative;
  z-index: 1;
}

.bg_grapes::before {
  content: "";
  background-image: url('images/bg/grapes.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f8f6f3;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  z-index: -1;
}

.bg_citrus {
  position: relative;
  z-index: 1;
}

.bg_citrus::before {    
      content: "";
      background-image: url('images/bg/orange.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #f5f4f0;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 1;
      z-index: -1;
}



.bg_straw2 {
  position: relative;
  z-index: 1;
  background-color: #efeee9;
}

.bg_straw2::before {    
  content: "";
  background-image: url('images/bg/straw3.png');
  background-size: 50%;
  background-color: #efeee9;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  z-index: -1;
}

/* slide one: main points */

.bg_rasp {
  position: relative;
  z-index: 1;
  background-color: #f6f3f1;
}

.bg_rasp::before {    
  content: "";
  background-image: url('images/bg/raspberry.png');
  background-size: 50%;
  background-color: #f6f3f1;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  z-index: -1;
}

.bg_walnut {
  position: relative;
  z-index: 1;
  background-color: #efefef;
}

.bg_walnut::before {    
  content: "";
  background-image: url('images/bg/walnut.jpg');
  background-size: 30%;
  background-repeat: no-repeat;
  position: absolute;
  top: 370px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  z-index: -1;
}

.walnut-text{
  width: 80%;
  text-align: right;
  position: relative;
  left: 200px;
}



/* slide two: understand and explain */

.bg_avo {
  position: relative;
  z-index: 1;
  background-color: #f7f5ef;
}

.bg_avo::before {    
  content: "";
  background-image: url('images/bg/avo.png');
  background-size: 95%;
  background-repeat: no-repeat;
  position: absolute;
  top: 470px;
  right: 0px;
  bottom: 0px;
  left: 630px;
  opacity: 1;
  z-index: -1;
}


.circle {
  width: 500px;
  height: 200px;
  border-style: solid;
  border-width: 6px;
  border-color: #444444;
  border-radius: 200px;
  background-color: #343444;
  box-shadow: inset 0px 0px 10px 0px #222222;
  overflow: hidden;
}

.circleWrapper {
  width: 512px;
  height: 212px;
  padding: 0px;
  border-radius: 212px;
  box-shadow: 0px 0px 10px 0px #000000;
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
}

/* slide three: twitter causality */

/* slide four: adaptation mess */

.bg_black {
  position: relative;
  background-color: #f7f6f2;
  z-index: 1;
}

.bg_black::before {    
  content: "";
  background-image: url('images/bg/black.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-color: #f7f6f2;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 600px;
  opacity: 1;
  z-index: -1;
}

.blacktitle {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 250px;
  bottom: 0px;
}

.opaque {
  opacity: 0.5;
}

.circleBase {
  border-radius: 50%;
  position: relative;
  top: 100px;
}

.circle1 {
  width: 200px;
  height: 200px;
  background: #4bc475;
  border: 1px solid #000;
}
.circle2 {
  width: 200px;
  height: 200px;
  background: #a1a1a1;
  border: 1px solid #000;
}
.ecology {
  position: relative;
  top: 100px;
  left: 50px;
}

.evo {
  position: relative;
  top: 100px;
  left: 50px;


}

/* slide five: conceptual understanding */

.bg_apple {
  position: relative;
  z-index: 1;
  background-color: #f2f0e7;
}

.bg_apple::before {    
  content: "";
  background-image: url('images/bg/apple.png');
  background-size: 37%;
  background-repeat: no-repeat;
  background-color: #f2f0e7;
  position: absolute;
  top: 430px;
  right: 0px;
  bottom: 0px;
  left: 30px;
  opacity: 1;
  z-index: -1;
}

.appletitle {
  position: absolute;
  top: -1%;
  left: 2%;
}

.apple-footnote {
  position: absolute;
  bottom: 0%;
  right: 1em;
  font-size: 65%;
  line-height: 1.3em;
  font-weight: bolder;
}

/* slide six: proximate and ultimate */

.bg_peach {
  position: relative;
  z-index: 1;
}

.bg_peach::before {    
  content: "";
  background-image: url('images/bg/peach.png');
  background-size: 22%;
  background-repeat: no-repeat;
  background-color: #f7f6f2;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  z-index: -1;
}

.bg_nopeach {
  background-color: #f7f6f2;
}

/* slide seven: teleological reasoning and framework */

.bg_straw {
  position: relative;
  z-index: 1;
  background-color: #f7f6f4;
}

.bg_straw::before {    
  content: "";
  background-image: url('images/bg/straw.png');
  background-size: 95%;
  background-repeat: no-repeat;
  background-color: #f7f6f4;
  position: absolute;
  top: 480px;
  right: 0px;
  bottom: 0px;
  left: 580px;
  opacity: 1;
  z-index: -1;
}

.bg_01results {
  background-image: url(images/figs/32-results.png);
  background-size: 95%;
  background-repeat: no-repeat;
}

.bg_02results {
  background-image: url(images/figs/33-results.png);
  background-size: 95%;
  background-repeat: no-repeat;
}


/* slide eight: domain general and specific */

.bg_lemon {
  position: relative;
  z-index: 1;
}

.bg_lemon::before {    
  content: "";
  background-image: url('images/bg/lemon.png');
  background-size: 30%;
  background-repeat: no-repeat;
  background-color: #edece7;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  z-index: -1;
}

.lemontitle {
  position: absolute;
  top: -1%;
  right: 2%;
}

.lemontext {
  position: absolute;
  bottom: 1%;
  left: 2%;
  text-align: left;
}

/* slide nine: its just memorization */

.bg_pear {
  position: relative;
  z-index: 1;
}

.bg_pear::before {    
  content: "";
  background-image: url('images/bg/pear.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #eeede9;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  z-index: -1;
}

/* slide ten: how i'd do it */

.bg_pine {
  position: relative;
  z-index: 1;
}

.bg_pine::before {    
  content: "";
  background-image: url('images/bg/pine.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f0efea;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  z-index: -1;
}

.pinetitle {
  position: absolute;
  right: 3%;

}

.pinetext {
  position: absolute;
  right: 3%;
  width: 50%;
  top: 40%;
}

.pinetext2 {
  position: absolute;
  right: 3%;
  width: 70%;
  top: 30%;
}


/* slide eleven: lesson plan */

.bg_2citrus {
  position: relative;
  z-index: 1;
  background-color: #f7f6f4;
}

.bg_2citrus::before {    
  content: "";
  background-image: url('images/bg/2-citrus.png');
  background-size: 95%;
  background-repeat: no-repeat;
  background-color: #f7f6f4;
  position: absolute;
  top: 480px;
  right: 0px;
  bottom: 0px;
  left: 580px;
  opacity: 1;
  z-index: -1;
}

.cititle{
  position: absolute;
  left: 3%;
  top: 1%;

}

.citimg {
  position: absolute;
  right: 4%;
  top: 10%;
}

.citimg + * {
  clear: both;
}






/* slide twelve: CUREs */

.bg_3citrus {
  position: relative;
  z-index: 1;
  background-color: #f7f6f4;
}

.bg_3citrus::before {    
  content: "";
  background-image: url('images/bg/3-citrus.png');
  background-size: 25%;
  background-repeat: no-repeat;
  background-color: #f7f6f4;
  position: absolute;
  top: 150px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  z-index: -1;
}

.cititle2{
  position: absolute;
  right: 3%;
  top: 1%;
}

.under {
  text-decoration: underline;
}


/* slide thirteen: data */

.bg_cherries {
  position: relative;
  z-index: 1;
  background-color: #f2f1ef;
}

.bg_cherries::before {    
  content: "";
  background-image: url('images/bg/cherries.png');
  background-size: 85%;
  background-repeat: no-repeat;
  background-color: #f2f1ef;
  position: absolute;
  top: 100px;
  right: 0px;
  bottom: 0px;
  left: 700px;
  opacity: 1;
  z-index: -1;
}

.cherrytitle {
  position: absolute;
  right: 3%;
  top: 1%;
}

/* slide fourteen: inequities */

.bg_pom {
  position: relative;
  z-index: 1;
  background-color: #f2f1ef;
}

.bg_pom::before {    
  content: "";
  background-image: url('images/bg/pom.png');
  background-size: 85%;
  background-repeat: no-repeat;
  background-color: #f2f1ef;
  position: absolute;
  top: 470px;
  right: 0px;
  bottom: 0px;
  left: 700px;
  opacity: 1;
  z-index: -1;
}

.pomtitle {
  position: absolute;
  left: 3%;
  top: 0%;
}

.invis{
  opacity: 0;
}

/* slide fifteen: tracking progress */

.bg_plum {
  position: relative;
  z-index: 1;
  background-color: #f2f1ef;
}

.bg_plum::before {    
  content: "";
  background-image: url('images/bg/plum.png');
  background-size: 35%;
  background-repeat: no-repeat;
  background-color: #f2f1ef;
  position: absolute;
  top: 130px;
  right: 250px;
  bottom: 0px;
  left: 00px;
  opacity: 1;
  z-index: -1;
}

.plumtitle {
  position: absolute;
  right: 3%;
  top: 0%;
}


/* conclusion slide  */


.bg_4citrus {
  position: relative;
  z-index: 1;
  background-color: #f7f6f4;
}

.bg_4citrus::before {    
  content: "";
  background-image: url('images/bg/4-citrus.png');
  background-size: 53%;
  background-repeat: no-repeat;
  background-color: #f7f6f4;
  position: absolute;
  top: 10px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  z-index: -1;
  /* transform: scaleX(-1); */
}

.pomstext {
  position: absolute;
  left: 3%;
  top: 25%;
}

.pomstitle {
  position: absolute;
  left: 3%;
  top: 0%;
}



.bg_tamarind {
  position: relative;
  z-index: 1;
  background-color: #e8e2d1;
}

.bg_tamarind::before {    
      content: "";
      background-image: url('images/bg/tamarind.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #e8e2d1;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 1;
      z-index: -1;
}

.bg_peanut {
  position: relative;
  z-index: 1;
  background-color: #f3ede2;
}

.bg_peanut::before {    
      content: "";
      background-image: url('images/bg/peanut.png');
      background-size: 35%;
      background-repeat: no-repeat;
      background-color: #f3ede2;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 1;
      z-index: -1;
}

.bg_ceratonia {
  position: relative;
  z-index: 1;
  background-color: #f6f3ee;
}

.bg_ceratonia::before {    
      content: "";
      background-image: url('images/bg/ceratonia.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #f6f3ee;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 1;
      z-index: -1;
}



/*-- LINK STYLING --*/

a {
  color:              #b91820;
  border-bottom:      0px;
  text-decoration: none;
  line-height:        1.5em;
  font-weight: bold;
}

a:hover {
  border-bottom:      0px;
}

/*-- HEADINGS --*/
.remark-slide-content h1 {
  color:              #4b6640;
  font-size:          45px;
  line-height:        1em;
}

.remark-slide-content h2 {
  font-size:          35px;
  color:              #4b6640;
  line-height:        1em;
  font-family: Fira;
}

.remark-slide-content h3 {
  font-size:          28px;
  color:              #dd8073;
  line-height: normal;
  font-family: 'Roboto Condensed', sans-serif;
}

/*-- PARAGRAPH TEXT --*/
.remark-slide-content {
  font-size:          20px;
  line-height:        1em;
  font-family: "Charter-Racket", serif;
  color: #2b2b2b
}

.remark-slide-content ol {
  line-height: normal;
}

/*-- HORIZONTAL BARS --*/
hr {
  content:            none;
  display:            block;
  border:             none;
  background-color:   #231F20;
  height:             0.08em;
}

/*-- BOTTOM-OF-SLIDE PROPERTIES --*/

/*-- Footnote --*/
.footnote-light {
  position: absolute;
  bottom: 0%;
  left: 1em;
  font-size: 65%;
  line-height: 1.3em;
  font-weight: bolder;
}

.footnote-dark {
  position: absolute;
  bottom: 0.2em;
  left: 2em;
  font-size: 65%;
  line-height: 1.3em;
  color: #FFFFFF;
  font-weight: bolder;
}

/*-- Slide number --*/
.remark-slide-number {
  color:              #000000;
}

/*-- CODE TEXT --*/

/*-- In-line highlighting within text --*/
.remark-code, .remark-inline-code {
  font-size:          90%;
  font-weight:        400;
  color:              #e9e9e9;
  background:         #E8EDEE;
  border-radius:      3px;
  padding:            1px 1px 1px 1px;
  opacity: 0.85;
}

/*-- Line highlighting within code --*/
.remark-code-line-highlighted {
  background-color:   #d9e49d;
  color: #000000;
}

/*-- CODE CHUNKS --*/

/*-- Code chunk background layer --*/
pre {
  /*border: 2px solid rgba(204, 189, 204, 0.8); /* code chunk border*/
  border:             none;
  box-shadow:         2px 2px 2px 2px #eee;
  padding:            0.1em;                    /* padding between code chunk and border */
  background:          #577457;
  overflow-x:         auto;                     /* enable horizontal scrolling with overflow */
  border-radius:      1px;                      /* modify rounding of corners*/
  opacity: 0.9;
}

/*--  --*/
pre code {
  background:          none;
  font-size:           18px !important;
}

/*-- TABLES --*/
.remark-slide table {
  margin:              auto;
  border-top:          2px solid goldenrod;
  border-bottom:       2px solid goldenrod;

}

th {
  font-size: 22px;
  line-height: normal;
  text-align: right;

  
}
td {
  text-align: right;
  padding-left: 5em;
  padding-bottom: 0.7em;
}


/*-- BLOCK QUOTE --*/

blockquote {
  display: block;
  position: relative;
  width: 80%;
  margin: 0px 0px 0px 0px;
  border-left: solid 5px #000000;
  padding: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }


.border {
  display: block;
  position: relative;
  padding: 5px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 28px -35px 28px -35px;
  border-left: solid 5px #000000;

}

.border-opaque {
  display: block;
  position: relative;
  padding: 5px;
  background: #9fd1e3;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 150px 0px 0px 200px;
  border-left: solid 5px #000000;

}


/*-- Hides slide number --*/
.remark-slide-number {
  display:             none;
}

/*-- CUSTOM CLASSES FOR TEXT EMPHASIS --*/
.blue       { color:   #005EB8 }
.green      { color:   #009639 }
.pink       { color:   #AE2573 }
.red        { color:   #DA291C }
.warmyellow { color:   #FFB81C }
.gold       { color:   #b0a402;}
.white      { color: white;}
#opacity		{ opacity: 0}



/* BUTTON CODE */

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #373a3c;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #373a3c;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(39, 128, 227, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}


.btn-outline-info {
  color: #9954bb;
  border-color: #9954bb;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #9954bb;
  border-color: #9954bb;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(153, 84, 187, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #9954bb;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #9954bb;
  border-color: #9954bb;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(153, 84, 187, 0.5);
}

.bg-light {
  background-color: #f8f9fa !important;
}
